* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:darkslategray ;
}

header {
    background:blueviolet;
    padding: 30px;
}

header > h1 {
    color:navy;
    text-align: center;
    font-family: cursive;
}

.score-board {
      margin: 30px auto;
      padding: 15px 15px;
      border: 5px solid lightgreen;
      border-radius: 5px;
      text-align: center;
      width: 200px;
      height: 80px;
      color: blanchedalmond;
      font-size: 20px;
      position: relative;
}




.badge {
    background: crimson;
    color: white;
    font-size: 15px;
    padding: 5px 5px;
    font-family: cursive;
}

#user-label {
    position: absolute;
    top: 30;
    left: -25px;
}

#computer-label {
    position: absolute;
    top: 30;
    right: -30px;
}

.result {
    font-size: 4 0 px;
    color: whitesmoke;
}

.result > p {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.choices {
    text-align: center;
    margin: 50px 0;
}

.choice {
    display: inline-block;
    border: solid blanchedalmond;
    border-radius: 50%;
    padding: 10px;
    margin: 0 20px;
    transition: all 0.5s ease;
}

.choice:hover {
    cursor: pointer;
    background: cadetblue;
}

#action-message {
    text-align: center;
    color: whitesmoke;
    font-family: cursive;
    font-weight: bolder;
    font-size: 25px;
}